*.mat
Figures/*
*.fig
*.aux
*.log
*.synctex.gz
*.o
*.dat
Documentation/*eps-converted-to.pdf
Distribution/*.m~
DistributionCPP/*~
DistributionCPP/*~
DistributionCPP/*.out
DistributionCPP/Airfoil/*~
DistributionCPP/Cloud/*~
DistributionCPP/IcingDriver
DistributionCPP/QuadTree/*.dat
Distribution/*.avi
Distribution/BatchJobs/
Distribution/sample*